.headphones{
        margin: 0 auto;
        position: relative;

        .title-headphones{
            margin: 0 auto;
            padding-top: 98px;
            height: calc(239px - 98px);
            background-color: black;
            color: white;
            text-transform: uppercase;
            text-align: center;
            line-height: 44px;
            letter-spacing: 1.42857px;
        }

        .headphones-item{
            margin: 160px auto 0;
            width:1110px;
            img{
                width: 540px;
                height: 560px;
                border-radius:8px;
            }
            h2{
                background-color:transparent;
                color: black;
                margin: 16px auto 0;
            }
            p{
                font-weight: 500;
                font-size: 15px;
                line-height: 25px;
                color: #000000;
                opacity: 0.5;
                margin: 32px auto 40px;
            }

            .xx99mark2{
                border-radius: 8px;
                height:560px;
                margin-bottom: 160px;

                img{
                    float: left;
                }

                .xx99mark2-content{
                    // text-align: left;
                    margin-top: 100px;
                    float: right;
                }

                span{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 10px;
                    text-transform: uppercase;
                    color: #D87D4A;
                }
            }
            .xx99mark1{
                border-radius: 8px;
                height:560px;
                margin-bottom: 160px;

                img{
                    float: right;
                    // border-radius: 8px;
                    // height:560px;
                    // margin-bottom: 160px;
                }
                
                h2{
                    margin: 126px auto 0;
                }

                .xx99mark1-content{
                    float: left;
                }
            }
            .xx59{
                border-radius: 8px;
                height:560px;
                margin-bottom: 160px;
                img{
                    // float: left;
                }

                h2{
                    margin: 126px auto 0;
                }

                .xx59-content{
                    float: right;
                }
            }
        }
}