// .App{
// }

//Typography
h1{
    font-size: 56px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 28px;
}
h5{
    font-size: 24px;
}
h6{
    font-size: 18px;
}

body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
            /* fontweight:200,300,400,500,600,700 */
//   background-color: #1a1a1a;
// background-color: #F2F2F2;
;
}

.tt-contentwrapper{
    width: 1110px;
    // background-color: black;
    margin: 0 auto;
}
.tt-main-wrapper{
    width: 1440px;
    margin: 0 auto;
}